<head>
  <meta name="stonks-path" content="/new-path" />
  <script
    defer
    src="/stonks.js"
    is:inline
    data-autocollect="false"
    data-allow-localhost="true"></script>
</head>

<body>
  <button data-s:event="Event" class="event-button"> Button </button>
</body>
