<head>
  <script
    defer
    src="/stonks.js"
    is:inline
    data-debug="example.com"
    data-autocollect="false"></script>
</head>

<body>
  <div 
    data-s:event="Event"
    data-s:event-path="/new-path"
    data-s:event-props="key1=value1;key2=value2"
    class="parent-1">
      <span class="event-button"> 
      Button
    </span>
  </div>

</body>
