<head>
  <script
    defer
    src="/stonks.js"
    is:inline
    data-debug="example.com"
    data-autocollect="false"></script>
</head>

<body>
  <script>
    window.stonks.event("Event", {
      key1: "value1",
      key2: "value2",
    });
  </script>
</body>
