<head>
  <script
    defer
    src="/stonks.js"
    is:inline
    data-debug="example.com"
    data-autocollect="false"></script>
</head>

<body>
  <button
    data-s:event="Event"
    data-s:event-path="/new-path"
    data-s:event-props="key1=value1;key2=value2"
    class="event-button"
  >
    Button
  </button>
</body>
