<head>
  <script
    defer
    src="/stonks.js"
    is:inline
    data-debug="example.com"
    data-autocollect="false"></script>
</head>

<body data-s:path="/new-path">
  <button data-s:event="Event" class="event-button"> Button </button>
</body>
