<head>
  <script
    defer
    src="/stonks.js"
    is:inline
    data-autocollect="false"
    data-allow-localhost="true"></script>
  <script>
    window.stonks.view({
      key1: "value1",
      key2: "value2",
    });
  </script>
</head>

<body></body>
