<head>
  <script
    defer
    src="/stonks.js"
    is:inline
    data-autocollect="false"
    data-props="key1=value1;key2=value2"
    data-allow-localhost="true"></script>
</head>

<body>
  <script>
    window.stonks.view();
  </script>
</body>
