<head>
  <script
    id="stonks"
    defer
    src="/stonks.js"
    is:inline
    data-allow-localhost="true"></script>
</head>
<body data-s:view-props="key1=value1">
  <button data-s:view-props="key2=value2"></button>
</body>
