<head>
  <script>
    import { configure, event } from "onedollarstats";
    configure({ hostname: "example.com", devmode: true, autocollect: false });
    event("Event");
  </script>
</head>
<body></body>
