<head>
  <script>
    import { configure, view } from "onedollarstats";
    configure({ hostname: "example.com", devmode: true, autocollect: false });
    view("/new-path");
  </script>
</head>
<body></body>
