<head>
  <script>
    import { configure, view } from "onedollarstats";
    configure({ hostname: "example.com", devmode: true, autocollect: false });
    view();
  </script>
</head>
<body data-s:view-props="key1=value1">
  <button data-s:view-props="key2=value2"></button>
</body>
