<head>
  <meta name="stonks-path" content="/new-path" />
  <script>
    import { configure, view } from "onedollarstats";
    configure({ hostname: "example.com", devmode: true, autocollect: false });
    view({ key1: "value1", key2: "value2" });
  </script>
</head>
<body></body>
