<head>
  <script>
    import { configure } from "onedollarstats";
    configure({ hostname: "example.com", devmode: true, autocollect: false });
  </script>
</head>
<a href="/pkg/manually-view">asd</a>
