<head>
  <meta name="stonks-props" content="key2=meta2;key3=meta3" />
  <script>
    import { configure } from "onedollarstats";
    configure({ hostname: "example.com", devmode: true });
  </script>
</head>
<body data-s:view-props="key1=dom1;key2=dom2">
</body>
